@model ProjectA.Models.ViewModels.CartItemViewModel
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image " data-bs-bg="../img/bg/14.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner">
                    <h1 class="page-title">Cart</h1>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a asp-action="Index" asp-controller="Home"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                            <li>Cart</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->
<!-- SHOPING CART AREA START -->
<div class="liton__shoping-cart-area mb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping-cart-inner">
                    <div class="shoping-cart-table table-responsive">
                        <table class="table">
                               <thead>
                                <tr>
                                    <th class="cart-product-remove">Remove</th>
                                    
                                    <th class="cart-product-info" colspan="2">Product</th>
                                    <th class="cart-product-price">Price</th>
                                    <th class="cart-product-quantity">Quantity</th>
                                    <th class="cart-product-subtotal">Subtotal</th>
                                </tr>
                                   
                              </thead> 
                            <tbody>
                                @if(Model.CartItems.Count > 0)
                                {
                                    @foreach(var item in Model.CartItems)
                                    {
                                            <tr>
                                                <td class="cart-product-remove">x</td>
                                                <td class="cart-product-image">
                                                    <a href="product-details.html"><img src="~/uploadImages/@item.Image" alt="#"></a>
                                                </td>
                                                <td class="cart-product-info">
                                                    <h4><a href="product-details.html">@item.Name</a></h4>
                                                </td>
                                                <td class="cart-product-price">@item.Price.ToString("#,##0")</td>
                                                <td class="cart-product-quantity">
                                                    <div class="cart-plus-minus">
                                                    <input type="text" value="@item.Quantity" name="qtybutton" class="cart-plus-minus-box" id="quantity" data-id="@item.Id">
                                                    </div>
                                                </td>
                                            <td class="cart-product-subtotal">@Model.CartItems.Where(x => x.Id == item.Id).Sum(x => x.Quantity * x.Price).ToString("#,##0")</td>
                                        </tr>
                                    }
                                    
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5"><h3>Your cart is empty</h3></td>
                                    </tr>
                                    
                                }
                                <tr>
                                    <td colspan="6"><a class="btn theme-btn-2 btn-effect-2--" onclick="updateCart()">Update Cart</a></td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="shoping-cart-total mt-50">
                        <h4>Cart Totals</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Cart Subtotal</td>
                                    <td>@Model.GrandTotal.ToString("#,##0")</td>
                                </tr>
                                
                            </tbody>
                        </table>
                        <div class="btn-wrapper text-right">
                            <a asp-action="CheckOut" asp-controller="Account" class="theme-btn-1 btn btn-effect-1">Proceed to checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SHOPING CART AREA END -->
